{% extends "base.html" %}
{% block title %}
    Ticket Vortex -  Merchant Market Page
{% endblock %}

{% block content %}
<br>
<div class="row" style="margin-top: 20px; margin-left: 20p;">
    <div class="col-12">
        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th scope="col">Concert</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Section</th>
                </tr>
            </thead>
            <tbody>
                {% for ticket in user['tickets'] %}
                <tr>
                    <td scope="col">{{ticket.concert}}</td>
                    <td scope="col">{{ticket.quantity}}</td>
                    <td scope="col">{{ticket.section}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}